<app-nav-bar-header></app-nav-bar-header>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h1>patient History</h1>
            </div>
            <form [formGroup]="patientForm">
                <div class="mt-3 mb-3">
                    <label class="form-label">Patient Name</label>
                    <input type="text" formControlName="patientName" class="form-control">
                </div>
                <div class="mt-3 mb-3">
                    <label class="form-label">Patient Mail</label>
                    <input type="text" formControlName="patientEmail" class="form-control">
                </div>
                <div formArrayName="patients">
            <div class="card-body" *ngFor="let patient of patients.controls;let i=index">
                <div [formGroupName]="i">
                <div class="mt-3">
                    <input type="text" formControlName="name" class="form-control">
                                </div>
                
                
                <button type="button" (click)="removePatient(i)">Remove Patient</button>
                
            </div>
            </div>
            </div>
            <button class="btn btn-primary" (click)="GetHistory()">GetHistory</button>
            <a routerLink="/register">Back</a>

            </form>
        </div>
    </div>
</div>

<div class="container" *ngIf="PatientHistory">
    <div class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Patient Id</th>
                <th>patient Name</th>
                <th>patient Mobile</th>
                <th>patient Mail</th>
                <th>patient Gender</th>
                <th>doctorName
                </th>
                <th>AppointmentDate/th>
            </tr>
        </thead>
        <ng-container *ngFor="let data of PatientHistory">
        <tbody>
            <tr>
                <td>{{data.
                    patient_id
                    }}</td>
                    <td>{{data.patient_name}}</td>
                    <td>{{data.patient_Mobile}}</td>
                    <td>{{data.patient_mailId}}</td>
                    <td>{{data.patient_gender}}</td>
                    <td>{{data.doctorName}}</td>
                    <td>{{data.AppointmentDate}}</td>
                </tr>
        </tbody>
    </ng-container>
    </div>

</div>