<app-nav-bar-header></app-nav-bar-header>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h1>Appointment</h1>
            </div>
            <div class="card-body">
                <div class="mt-3 mb-3">
                    <label class="form-label">Doctor Name</label>
                    <input type="text" class="form-control" value="{{filteredValue.doctorName}}">
                </div>
                <div class="mt-3 mb-3">
                    <label class="form-label">Doctor Fee</label>
                    <input type="text" class="form-control" value="{{filteredValue.fee}}"/>
                </div>
                
                <div class="mt-3 mb-3">
                    <label class="form-label">Doctor Speciality</label>
                    <input type="text" class="form-control" value="{{filteredValue.specialities.specialityName}}"/>
                </div>
                <div class="mt-3 mb-3">
                    <label class="form-label">Doctor Exp</label>
                    <input type="text" class="form-control" value="{{filteredValue.doctorExp}}"/>
                </div>
                
                <div class="mt-3 mb-3">
                    <label class="form-label">Date</label>
                    <input type="date" class="form-control" [(ngModel)]="data.appointmentDate" />
                </div>
                
                <div class="mt-3 mb-3">
                    <label class="form-label">Date</label>
                    <input type="time" class="form-control" [(ngModel)]="data.appointmentTime" />
                </div>
            </div>
            <button  class="btn btn-primary" (click)="AddAppointment()">Book Appointment</button>
        </div>
        <h1 [ngClass]="clr">{{AddedMsg}}</h1>
    </div>
    
</div>